<div class="col-md-2" id="leftCol">
    <ul class="nav nav-pills nav-stacked" id="sidebar">
        <li class="nav-header">Products</li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Create New</a></li>

        <li class="nav-header">Releases</li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Create New</a></li>

        <li class="nav-header">Defects</li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Create New</a></li>
    </ul>
</div>
